data/mw_area/1990_area_1km.tfw
data/mw_area/1990_area_1km.tif
data/mw_area/1990_area_1km.tif.aux.xml
data/mw_area/1990_area_1km.tif.vat.cpg
data/mw_area/1990_area_1km.tif.vat.dbf
data/mw_area/1991_area_1km.tfw
data/mw_area/1991_area_1km.tif
data/mw_area/1991_area_1km.tif.aux.xml
data/mw_area/1991_area_1km.tif.vat.cpg
data/mw_area/1991_area_1km.tif.vat.dbf
data/mw_area/1992_area_1km.tfw
data/mw_area/1992_area_1km.tif
data/mw_area/1992_area_1km.tif.aux.xml
data/mw_area/1992_area_1km.tif.vat.cpg
data/mw_area/1992_area_1km.tif.vat.dbf
data/mw_area/1993_area_1km.tfw
data/mw_area/1993_area_1km.tif
data/mw_area/1993_area_1km.tif.aux.xml
data/mw_area/1993_area_1km.tif.vat.cpg
data/mw_area/1993_area_1km.tif.vat.dbf
data/mw_area/1994_area_1km.tfw
data/mw_area/1994_area_1km.tif
data/mw_area/1994_area_1km.tif.aux.xml
data/mw_area/1994_area_1km.tif.vat.cpg
data/mw_area/1994_area_1km.tif.vat.dbf
data/mw_area/1995_area_1km.tfw
data/mw_area/1995_area_1km.tif
data/mw_area/1995_area_1km.tif.aux.xml
data/mw_area/1995_area_1km.tif.vat.cpg
data/mw_area/1995_area_1km.tif.vat.dbf
data/mw_area/1996_area_1km.tfw
data/mw_area/1996_area_1km.tif
data/mw_area/1996_area_1km.tif.aux.xml
data/mw_area/1996_area_1km.tif.vat.cpg
data/mw_area/1996_area_1km.tif.vat.dbf
data/mw_area/1997_area_1km.tfw
data/mw_area/1997_area_1km.tif
data/mw_area/1997_area_1km.tif.aux.xml
data/mw_area/1997_area_1km.tif.vat.cpg
data/mw_area/1997_area_1km.tif.vat.dbf
data/mw_area/1998_area_1km.tfw
data/mw_area/1998_area_1km.tif
data/mw_area/1998_area_1km.tif.aux.xml
data/mw_area/1998_area_1km.tif.vat.cpg
data/mw_area/1998_area_1km.tif.vat.dbf
data/mw_area/1999_area_1km.tfw
data/mw_area/1999_area_1km.tif
data/mw_area/1999_area_1km.tif.aux.xml
data/mw_area/1999_area_1km.tif.vat.cpg
data/mw_area/1999_area_1km.tif.vat.dbf
data/mw_area/2000_area_1km.tfw
data/mw_area/2000_area_1km.tif
data/mw_area/2000_area_1km.tif.aux.xml
data/mw_area/2000_area_1km.tif.vat.cpg
data/mw_area/2000_area_1km.tif.vat.dbf
data/mw_area/2001_area_1km.tfw
data/mw_area/2001_area_1km.tif
data/mw_area/2001_area_1km.tif.aux.xml
data/mw_area/2001_area_1km.tif.vat.cpg
data/mw_area/2001_area_1km.tif.vat.dbf
data/mw_area/2002_area_1km.tfw
data/mw_area/2002_area_1km.tif
data/mw_area/2002_area_1km.tif.aux.xml
data/mw_area/2002_area_1km.tif.vat.cpg
data/mw_area/2002_area_1km.tif.vat.dbf
data/mw_area/2003_area_1km.tfw
data/mw_area/2003_area_1km.tif
data/mw_area/2003_area_1km.tif.aux.xml
data/mw_area/2003_area_1km.tif.vat.cpg
data/mw_area/2003_area_1km.tif.vat.dbf
data/mw_area/2004_area_1km.tfw
data/mw_area/2004_area_1km.tif
data/mw_area/2004_area_1km.tif.aux.xml
data/mw_area/2004_area_1km.tif.vat.cpg
data/mw_area/2004_area_1km.tif.vat.dbf
data/mw_area/2005_area_1km.tfw
data/mw_area/2005_area_1km.tif
data/mw_area/2005_area_1km.tif.aux.xml
data/mw_area/2005_area_1km.tif.vat.cpg
data/mw_area/2005_area_1km.tif.vat.dbf
data/mw_area/2006_area_1km.tfw
data/mw_area/2006_area_1km.tif
data/mw_area/2006_area_1km.tif.aux.xml
data/mw_area/2006_area_1km.tif.vat.cpg
data/mw_area/2006_area_1km.tif.vat.dbf
data/mw_area/2007_area_1km.tfw
data/mw_area/2007_area_1km.tif
data/mw_area/2007_area_1km.tif.aux.xml
data/mw_area/2007_area_1km.tif.vat.cpg
data/mw_area/2007_area_1km.tif.vat.dbf
data/mw_area/2008_area_1km.tfw
data/mw_area/2008_area_1km.tif
data/mw_area/2008_area_1km.tif.aux.xml
data/mw_area/2008_area_1km.tif.vat.cpg
data/mw_area/2008_area_1km.tif.vat.dbf
data/mw_area/2009_area_1km.tfw
data/mw_area/2009_area_1km.tif
data/mw_area/2009_area_1km.tif.aux.xml
data/mw_area/2009_area_1km.tif.vat.cpg
data/mw_area/2009_area_1km.tif.vat.dbf
data/mw_area/2010_area_1km.tfw
data/mw_area/2010_area_1km.tif
data/mw_area/2010_area_1km.tif.aux.xml
data/mw_area/2010_area_1km.tif.vat.cpg
data/mw_area/2010_area_1km.tif.vat.dbf
data/mw_area/2011_area_1km.tfw
data/mw_area/2011_area_1km.tif
data/mw_area/2011_area_1km.tif.aux.xml
data/mw_area/2011_area_1km.tif.vat.cpg
data/mw_area/2011_area_1km.tif.vat.dbf
data/mw_area/2012_area_1km.tfw
data/mw_area/2012_area_1km.tif
data/mw_area/2012_area_1km.tif.aux.xml
data/mw_area/2012_area_1km.tif.vat.cpg
data/mw_area/2012_area_1km.tif.vat.dbf
data/mw_area/2013_area_1km.tfw
data/mw_area/2013_area_1km.tif
data/mw_area/2013_area_1km.tif.aux.xml
data/mw_area/2013_area_1km.tif.vat.cpg
data/mw_area/2013_area_1km.tif.vat.dbf
data/mw_area/2014_area_1km.tfw
data/mw_area/2014_area_1km.tif
data/mw_area/2014_area_1km.tif.aux.xml
data/mw_area/2014_area_1km.tif.vat.cpg
data/mw_area/2014_area_1km.tif.vat.dbf
data/mw_area/2015_area_1km.tfw
data/mw_area/2015_area_1km.tif
data/mw_area/2015_area_1km.tif.aux.xml
data/mw_area/2015_area_1km.tif.vat.cpg
data/mw_area/2015_area_1km.tif.vat.dbf
data/mw_area/2016_area_1km.tfw
data/mw_area/2016_area_1km.tif
data/mw_area/2016_area_1km.tif.aux.xml
data/mw_area/2016_area_1km.tif.vat.cpg
data/mw_area/2016_area_1km.tif.vat.dbf
data/mw_area/2017_area_1km.tfw
data/mw_area/2017_area_1km.tif
data/mw_area/2017_area_1km.tif.aux.xml
data/mw_area/2017_area_1km.tif.vat.cpg
data/mw_area/2017_area_1km.tif.vat.dbf
data/mw_area/2018_area_1km.tfw
data/mw_area/2018_area_1km.tif
data/mw_area/2018_area_1km.tif.aux.xml
data/mw_area/2018_area_1km.tif.vat.cpg
data/mw_area/2018_area_1km.tif.vat.dbf
data/mw_area/2019_area_1km.tfw
data/mw_area/2019_area_1km.tif
data/mw_area/2019_area_1km.tif.aux.xml
data/mw_area/2019_area_1km.tif.vat.cpg
data/mw_area/2019_area_1km.tif.vat.dbf
data/mw_area/2020_area_1km.tfw
data/mw_area/2020_area_1km.tif
data/mw_area/2020_area_1km.tif.aux.xml
data/mw_area/2020_area_1km.tif.vat.cpg
data/mw_area/2020_area_1km.tif.vat.dbf
data/mw_edge/1990_edge_1km.tfw
data/mw_edge/1990_edge_1km.tif
data/mw_edge/1990_edge_1km.tif.aux.xml
data/mw_edge/1990_edge_1km.tif.vat.cpg
data/mw_edge/1990_edge_1km.tif.vat.dbf
data/mw_edge/1991_edge_1km.tfw
data/mw_edge/1991_edge_1km.tif
data/mw_edge/1991_edge_1km.tif.aux.xml
data/mw_edge/1991_edge_1km.tif.vat.cpg
data/mw_edge/1991_edge_1km.tif.vat.dbf
data/mw_edge/1992_edge_1km.tfw
data/mw_edge/1992_edge_1km.tif
data/mw_edge/1992_edge_1km.tif.aux.xml
data/mw_edge/1992_edge_1km.tif.vat.cpg
data/mw_edge/1992_edge_1km.tif.vat.dbf
data/mw_edge/1993_edge_1km.tfw
data/mw_edge/1993_edge_1km.tif
data/mw_edge/1993_edge_1km.tif.aux.xml
data/mw_edge/1993_edge_1km.tif.vat.cpg
data/mw_edge/1993_edge_1km.tif.vat.dbf
data/mw_edge/1994_edge_1km.tfw
data/mw_edge/1994_edge_1km.tif
data/mw_edge/1994_edge_1km.tif.aux.xml
data/mw_edge/1994_edge_1km.tif.vat.cpg
data/mw_edge/1994_edge_1km.tif.vat.dbf
data/mw_edge/1995_edge_1km.tfw
data/mw_edge/1995_edge_1km.tif
data/mw_pn/1990_pn_1km.tfw
data/mw_pn/1990_pn_1km.tif
data/mw_pn/1990_pn_1km.tif.aux.xml
data/mw_pn/1990_pn_1km.tif.vat.cpg
data/mw_pn/1990_pn_1km.tif.vat.dbf
data/mw_pn/1991_pn_1km.tfw
data/mw_pn/1991_pn_1km.tif
data/mw_pn/1991_pn_1km.tif.aux.xml
data/mw_pn/1991_pn_1km.tif.vat.cpg
data/mw_pn/1991_pn_1km.tif.vat.dbf
data/mw_pn/1992_pn_1km.tfw
data/mw_pn/1992_pn_1km.tif
data/mw_pn/1992_pn_1km.tif.aux.xml
data/mw_pn/1992_pn_1km.tif.vat.cpg
data/mw_pn/1992_pn_1km.tif.vat.dbf
data/mw_pn/1993_pn_1km.tfw
data/mw_pn/1993_pn_1km.tif
data/mw_pn/1993_pn_1km.tif.aux.xml
data/mw_pn/1993_pn_1km.tif.vat.cpg
data/mw_pn/1993_pn_1km.tif.vat.dbf
data/mw_pn/1994_pn_1km.tfw
data/mw_pn/1994_pn_1km.tif
data/mw_pn/1994_pn_1km.tif.aux.xml
data/mw_pn/1994_pn_1km.tif.vat.cpg
data/mw_pn/1994_pn_1km.tif.vat.dbf
data/mw_pn/1995_pn_1km.tfw
data/mw_pn/1995_pn_1km.tif
data/mw_pn/1995_pn_1km.tif.aux.xml
data/mw_pn/1995_pn_1km.tif.vat.cpg
data/mw_pn/1995_pn_1km.tif.vat.dbf
data/mw_pn/1996_pn_1km.tfw
data/mw_pn/1996_pn_1km.tif
data/mw_pn/1996_pn_1km.tif.aux.xml
data/mw_pn/1996_pn_1km.tif.vat.cpg
data/mw_pn/1996_pn_1km.tif.vat.dbf
data/mw_pn/1997_pn_1km.tfw
data/mw_pn/1997_pn_1km.tif
data/mw_pn/1997_pn_1km.tif.aux.xml
data/mw_pn/1997_pn_1km.tif.vat.cpg
data/mw_pn/1997_pn_1km.tif.vat.dbf
data/mw_pn/1998_pn_1km.tfw
data/mw_pn/1998_pn_1km.tif
data/mw_pn/1998_pn_1km.tif.aux.xml
data/mw_pn/1998_pn_1km.tif.vat.cpg
data/mw_pn/1998_pn_1km.tif.vat.dbf
data/mw_pn/1999_pn_1km.tfw
data/mw_pn/1999_pn_1km.tif
data/mw_pn/1999_pn_1km.tif.aux.xml
data/mw_pn/1999_pn_1km.tif.vat.cpg
data/mw_pn/1999_pn_1km.tif.vat.dbf
data/mw_pn/2000_pn_1km.tfw
data/mw_pn/2000_pn_1km.tif
data/mw_pn/2000_pn_1km.tif.aux.xml
data/mw_pn/2000_pn_1km.tif.vat.cpg
data/mw_pn/2000_pn_1km.tif.vat.dbf
data/mw_pn/2001_pn_1km.tfw
data/mw_pn/2001_pn_1km.tif
data/mw_pn/2001_pn_1km.tif.aux.xml
data/mw_pn/2001_pn_1km.tif.vat.cpg
data/mw_pn/2001_pn_1km.tif.vat.dbf
data/mw_pn/2002_pn_1km.tfw
data/mw_pn/2002_pn_1km.tif
data/mw_pn/2002_pn_1km.tif.aux.xml
data/mw_pn/2002_pn_1km.tif.vat.cpg
data/mw_pn/2002_pn_1km.tif.vat.dbf
data/mw_pn/2003_pn_1km.tfw
data/mw_pn/2003_pn_1km.tif
data/mw_pn/2003_pn_1km.tif.aux.xml
data/mw_pn/2003_pn_1km.tif.vat.cpg
data/mw_pn/2003_pn_1km.tif.vat.dbf
data/mw_pn/2004_pn_1km.tfw
data/mw_pn/2004_pn_1km.tif
data/mw_pn/2004_pn_1km.tif.aux.xml
data/mw_pn/2004_pn_1km.tif.vat.cpg
data/mw_pn/2004_pn_1km.tif.vat.dbf
data/mw_pn/2005_pn_1km.tfw
data/mw_pn/2005_pn_1km.tif
data/mw_pn/2005_pn_1km.tif.aux.xml
data/mw_pn/2005_pn_1km.tif.vat.cpg
data/mw_pn/2005_pn_1km.tif.vat.dbf
data/mw_pn/2006_pn_1km.tfw
data/mw_pn/2006_pn_1km.tif
data/mw_pn/2006_pn_1km.tif.aux.xml
data/mw_pn/2006_pn_1km.tif.vat.cpg
data/mw_pn/2006_pn_1km.tif.vat.dbf
data/mw_pn/2007_pn_1km.tfw
data/mw_pn/2007_pn_1km.tif
data/mw_pn/2007_pn_1km.tif.aux.xml
data/mw_pn/2007_pn_1km.tif.vat.cpg
data/mw_pn/2007_pn_1km.tif.vat.dbf
data/mw_pn/2008_pn_1km.tfw
data/mw_pn/2008_pn_1km.tif
data/mw_pn/2008_pn_1km.tif.aux.xml
data/mw_pn/2008_pn_1km.tif.vat.cpg
data/mw_pn/2008_pn_1km.tif.vat.dbf
data/mw_pn/2009_pn_1km.tfw
data/mw_pn/2009_pn_1km.tif
data/mw_pn/2009_pn_1km.tif.aux.xml
data/mw_pn/2009_pn_1km.tif.vat.cpg
data/mw_pn/2009_pn_1km.tif.vat.dbf
data/mw_pn/2010_pn_1km.tfw
data/mw_pn/2010_pn_1km.tif
data/mw_pn/2010_pn_1km.tif.aux.xml
data/mw_pn/2010_pn_1km.tif.vat.cpg
data/mw_pn/2010_pn_1km.tif.vat.dbf
data/mw_pn/2011_pn_1km.tfw
data/mw_pn/2011_pn_1km.tif
data/mw_pn/2011_pn_1km.tif.aux.xml
data/mw_pn/2011_pn_1km.tif.vat.cpg
data/mw_pn/2011_pn_1km.tif.vat.dbf
data/mw_pn/2012_pn_1km.tfw
data/mw_pn/2012_pn_1km.tif
data/mw_pn/2012_pn_1km.tif.aux.xml
data/mw_pn/2012_pn_1km.tif.vat.cpg
data/mw_pn/2012_pn_1km.tif.vat.dbf
data/mw_pn/2013_pn_1km.tfw
data/mw_pn/2013_pn_1km.tif
data/mw_pn/2013_pn_1km.tif.aux.xml
data/mw_pn/2013_pn_1km.tif.vat.cpg
data/mw_pn/2013_pn_1km.tif.vat.dbf
data/mw_pn/2014_pn_1km.tfw
data/mw_pn/2014_pn_1km.tif
data/mw_pn/2014_pn_1km.tif.aux.xml
data/mw_pn/2014_pn_1km.tif.vat.cpg
data/mw_pn/2014_pn_1km.tif.vat.dbf
data/mw_pn/2015_pn_1km.tfw
data/mw_pn/2015_pn_1km.tif
data/mw_pn/2015_pn_1km.tif.aux.xml
data/mw_pn/2015_pn_1km.tif.vat.cpg
data/mw_pn/2015_pn_1km.tif.vat.dbf
data/mw_pn/2016_pn_1km.tfw
data/mw_pn/2016_pn_1km.tif
data/mw_pn/2016_pn_1km.tif.aux.xml
data/mw_pn/2016_pn_1km.tif.vat.cpg
data/mw_pn/2016_pn_1km.tif.vat.dbf
data/mw_pn/2017_pn_1km.tfw
data/mw_pn/2017_pn_1km.tif
data/mw_pn/2017_pn_1km.tif.aux.xml
data/mw_pn/2017_pn_1km.tif.vat.cpg
data/mw_pn/2017_pn_1km.tif.vat.dbf
data/mw_pn/2018_pn_1km.tfw
data/mw_pn/2018_pn_1km.tif
data/mw_pn/2018_pn_1km.tif.aux.xml
data/mw_pn/2018_pn_1km.tif.vat.cpg
data/mw_pn/2018_pn_1km.tif.vat.dbf
data/mw_pn/2019_pn_1km.tfw
data/mw_pn/2019_pn_1km.tif
data/mw_pn/2019_pn_1km.tif.aux.xml
data/mw_pn/2019_pn_1km.tif.vat.cpg
data/mw_pn/2019_pn_1km.tif.vat.dbf
data/mw_pn/2020_pn_1km.tfw
data/mw_pn/2020_pn_1km.tif
data/mw_pn/2020_pn_1km.tif.aux.xml
data/mw_pn/2020_pn_1km.tif.vat.cpg
data/mw_pn/2020_pn_1km.tif.vat.dbf
data/mw_edge/1995_edge_1km.tif.aux.xml
data/mw_edge/1995_edge_1km.tif.vat.cpg
data/mw_edge/1995_edge_1km.tif.vat.dbf
data/mw_edge/1996_edge_1km.tfw
data/mw_edge/1996_edge_1km.tif
data/mw_edge/1996_edge_1km.tif.aux.xml
data/mw_edge/1996_edge_1km.tif.vat.cpg
data/mw_edge/1996_edge_1km.tif.vat.dbf
data/mw_edge/1997_edge_1km.tfw
data/mw_edge/1997_edge_1km.tif
data/mw_edge/1997_edge_1km.tif.aux.xml
data/mw_edge/1997_edge_1km.tif.vat.cpg
data/mw_edge/1997_edge_1km.tif.vat.dbf
data/mw_edge/1998_edge_1km.tfw
data/mw_edge/1998_edge_1km.tif
data/mw_edge/1998_edge_1km.tif.aux.xml
data/mw_edge/1998_edge_1km.tif.vat.cpg
data/mw_edge/1998_edge_1km.tif.vat.dbf
data/mw_edge/1999_edge_1km.tfw
data/mw_edge/1999_edge_1km.tif
data/mw_edge/1999_edge_1km.tif.aux.xml
data/mw_edge/1999_edge_1km.tif.vat.cpg
data/mw_edge/1999_edge_1km.tif.vat.dbf
data/mw_edge/2000_edge_1km.tfw
data/mw_edge/2000_edge_1km.tif
data/mw_edge/2000_edge_1km.tif.aux.xml
data/mw_edge/2000_edge_1km.tif.vat.cpg
data/mw_edge/2000_edge_1km.tif.vat.dbf
data/mw_edge/2001_edge_1km.tfw
data/mw_edge/2001_edge_1km.tif
data/mw_edge/2001_edge_1km.tif.aux.xml
data/mw_edge/2001_edge_1km.tif.vat.cpg
data/mw_edge/2001_edge_1km.tif.vat.dbf
data/mw_edge/2002_edge_1km.tfw
data/mw_edge/2002_edge_1km.tif
data/mw_edge/2002_edge_1km.tif.aux.xml
data/mw_edge/2002_edge_1km.tif.vat.cpg
data/mw_edge/2002_edge_1km.tif.vat.dbf
data/mw_edge/2003_edge_1km.tfw
data/mw_edge/2003_edge_1km.tif
data/mw_edge/2003_edge_1km.tif.aux.xml
data/mw_edge/2003_edge_1km.tif.vat.cpg
data/mw_edge/2003_edge_1km.tif.vat.dbf
data/mw_edge/2004_edge_1km.tfw
data/mw_edge/2004_edge_1km.tif
data/mw_edge/2004_edge_1km.tif.aux.xml
data/mw_edge/2004_edge_1km.tif.vat.cpg
data/mw_edge/2004_edge_1km.tif.vat.dbf
data/mw_edge/2005_edge_1km.tfw
data/mw_edge/2005_edge_1km.tif
data/mw_edge/2005_edge_1km.tif.aux.xml
data/mw_edge/2005_edge_1km.tif.vat.cpg
data/mw_edge/2005_edge_1km.tif.vat.dbf
data/mw_edge/2006_edge_1km.tfw
data/mw_edge/2006_edge_1km.tif
data/img_diff/area/90-95_area.tif
data/mw_edge/2006_edge_1km.tif.aux.xml
data/mw_edge/2006_edge_1km.tif.vat.cpg
data/mw_edge/2006_edge_1km.tif.vat.dbf
data/mw_edge/2007_edge_1km.tfw
data/mw_edge/2007_edge_1km.tif
data/mw_edge/2007_edge_1km.tif.aux.xml
data/mw_edge/2007_edge_1km.tif.vat.cpg
data/mw_edge/2007_edge_1km.tif.vat.dbf
data/mw_edge/2008_edge_1km.tfw
data/mw_edge/2008_edge_1km.tif
data/mw_edge/2008_edge_1km.tif.aux.xml
data/mw_edge/2008_edge_1km.tif.vat.cpg
data/mw_edge/2008_edge_1km.tif.vat.dbf
data/mw_edge/2009_edge_1km.tfw
data/mw_edge/2009_edge_1km.tif
data/mw_edge/2009_edge_1km.tif.aux.xml
data/mw_edge/2009_edge_1km.tif.vat.cpg
data/mw_edge/2009_edge_1km.tif.vat.dbf
data/mw_edge/2010_edge_1km.tfw
data/mw_edge/2010_edge_1km.tif
data/mw_edge/2010_edge_1km.tif.aux.xml
data/mw_edge/2010_edge_1km.tif.vat.cpg
data/mw_edge/2010_edge_1km.tif.vat.dbf
data/mw_edge/2011_edge_1km.tfw
data/mw_edge/2011_edge_1km.tif
data/mw_edge/2011_edge_1km.tif.aux.xml
data/mw_edge/2011_edge_1km.tif.vat.cpg
data/mw_edge/2011_edge_1km.tif.vat.dbf
data/mw_edge/2012_edge_1km.tfw
data/mw_edge/2012_edge_1km.tif
data/mw_edge/2012_edge_1km.tif.aux.xml
data/mw_edge/2012_edge_1km.tif.vat.cpg
data/mw_edge/2012_edge_1km.tif.vat.dbf
data/mw_edge/2013_edge_1km.tfw
data/mw_edge/2013_edge_1km.tif
data/mw_edge/2013_edge_1km.tif.aux.xml
data/mw_edge/2013_edge_1km.tif.vat.cpg
data/mw_edge/2013_edge_1km.tif.vat.dbf
data/mw_edge/2014_edge_1km.tfw
data/mw_edge/2014_edge_1km.tif
data/mw_edge/2014_edge_1km.tif.aux.xml
data/mw_edge/2014_edge_1km.tif.vat.cpg
data/mw_edge/2014_edge_1km.tif.vat.dbf
data/mw_edge/2015_edge_1km.tfw
data/mw_edge/2015_edge_1km.tif
data/mw_edge/2015_edge_1km.tif.aux.xml
data/mw_edge/2015_edge_1km.tif.vat.cpg
data/mw_edge/2015_edge_1km.tif.vat.dbf
data/mw_edge/2016_edge_1km.tfw
data/mw_edge/2016_edge_1km.tif
data/mw_edge/2016_edge_1km.tif.aux.xml
data/mw_edge/2016_edge_1km.tif.vat.cpg
data/mw_edge/2016_edge_1km.tif.vat.dbf
data/mw_edge/2017_edge_1km.tfw
data/mw_edge/2017_edge_1km.tif
data/mw_edge/2017_edge_1km.tif.aux.xml
data/mw_edge/2017_edge_1km.tif.vat.cpg
data/mw_edge/2017_edge_1km.tif.vat.dbf
data/mw_edge/2018_edge_1km.tfw
data/mw_edge/2018_edge_1km.tif
data/mw_edge/2018_edge_1km.tif.aux.xml
data/mw_edge/2018_edge_1km.tif.vat.cpg
data/mw_edge/2018_edge_1km.tif.vat.dbf
data/mw_edge/2019_edge_1km.tfw
data/mw_edge/2019_edge_1km.tif
data/mw_edge/2019_edge_1km.tif.aux.xml
data/mw_edge/2019_edge_1km.tif.vat.cpg
data/mw_edge/2019_edge_1km.tif.vat.dbf
data/mw_edge/2020_edge_1km.tfw
data/mw_edge/2020_edge_1km.tif
data/mw_edge/2020_edge_1km.tif.aux.xml
data/mw_edge/2020_edge_1km.tif.vat.cpg
data/mw_edge/2020_edge_1km.tif.vat.dbf
